---
title: TextArea Component
---

<script>
import Code from '$lib/Code.svelte'
import Dump from '$lib/Dump.svelte'
import TextArea from '$lib/TextArea.svelte'

let value = ''
</script>

# TextArea

TextArea component.

<figure>
  <TextArea name="value" label="Text" bind:value />
</figure>

```svelte
<TextArea name="value" label="Text" bind:value />
```
