.copy {
  --space: 2.5rem;
}

.copy > table:not(:first-child) {
  margin-top: var(--space);
}

.copy > table:not(:last-child) {
  margin-bottom: var(--space);
}

.copy > h1 {
  --space: 2rem;
  --space-heading: 6rem;
  font-size: 2em;
  line-height: var(--lh1);
  letter-spacing: var(--lsh);
}

.copy > h2 {
  --space: 2rem;
  --space-heading: 6rem;
  font-size: 1.5em;
  line-height: var(--lh1);
  letter-spacing: var(--lsh);
}

.copy > h3 {
  --space: 2rem;
  --space-heading: 4rem;
  font-size: 1.25em;
  line-height: var(--lh1);
  letter-spacing: var(--lsh);
}

.copy a {
  text-decoration: underline;
  text-decoration-style: var(--text-decoration-style, solid);
  text-decoration-thickness: var(--text-decoration-thickness);
  text-underline-offset: 2px;
}

.copy em {
  font-style: italic;
}

.copy table {
  word-break: break-word;
}
