:root {
  --copy-space: 2.5rem;
}

.copy > h1 {
  font-size: 2em;
  line-height: var(--lh1);
  letter-spacing: var(--lsh);
  margin-top: 6rem;
  margin-bottom: 2rem;
}

.copy > h2 {
  font-size: 1.5em;
  line-height: var(--lh1);
  letter-spacing: var(--lsh);
  margin-top: 6rem;
  margin-bottom: 2rem;
}

.copy > h3 {
  font-size: 1.25em;
  line-height: var(--lh1);
  letter-spacing: var(--lsh);
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.copy a {
  text-decoration: var(--suil-underline);
}

.copy em {
  font-style: italic;
}

.copy table {
  word-break: break-word;
}
