@import 'abrusco/base';
@import 'abrusco/modules';

/* purgecss start ignore */
@import 'copy.css';
@import 'tables.css';
/* purgecss end ignore */

@import 'abrusco/utils';
@import 'abrusco/debug';

:root {
  --default-font-family: 'Inter', sans-serif;
  --text-decoration-thickness: 1px;
}

@supports (font-variation-settings: normal) {
  :root {
    --default-font-family: 'Inter var', sans-serif;
  }
}

a:focus {
  outline: 2px solid var(--suil-color-primary, currentColor);
}
