.table {
  width: 100%;
  font-size: 16px;
  line-height: 20px;
}

.table th {
  text-align: left;
  border-bottom: 1px dashed currentColor;
  padding-bottom: 0.5rem;
}

.table td {
  text-align: left;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.table tbody {
  border-bottom: 1px dashed currentColor;
}

.table tbody tr:first-child td {
  padding-top: 0.5rem;
}

.table tbody tr:last-child td {
  padding-bottom: 0.5rem;
}

.table th:not(:last-child),
.table td:not(:last-child) {
  padding-right: 1rem;
}
